<!DOCTYPE html>
<html lang="en" ng-app="filmstack">
<head>
	<base href="/">
	<meta charset="UTF-8">
	<title>{{ seo.title }}</title>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<!-- angularJS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-route.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-resource.js"></script>
	<script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
	<!-- fonts -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
	<!-- css -->
	<link rel="stylesheet" href="styles.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<section id="wraper" class="container" scroll-to>
		<!-- <div class="view-slide-in" ng-view="main-app"></div> -->
		<div class="view-slide-in"></div>
		</section>
	<div ng-view></div>
	<!-- views populate here -->
	
	<!-- modules -->
	<script type="text/javascript" src="./app.js"></script>
	<!-- controllers -->
	<script type="text/javascript" src="./controllers/SearchController.js"></script>
    <script type="text/javascript" src="./controllers/SplashController.js"></script>
    <script type="text/javascript" src="./controllers/DetailController.js"></script>
    <script type="text/javascript" src="./controllers/DashboardController.js"></script>
    <!-- <script type="text/javascript" src="./controllers/LoginController.js"></script> -->
    <script type="text/javascript" src="./controllers/UserController.js"></script>
    <script type="text/javascript" src="./controllers/CreateUserController.js"></script>
	<!-- factories -->
	<script type="text/javascript" src="./factories/DetailFactory.js"></script>
    <script type="text/javascript" src="./factories/SearchFactory.js"></script>
    <script type="text/javascript" src="./factories/CastCrewFactory.js"></script>
    <script type="text/javascript" src="./factories/ListFactory.js"></script>
    <!-- <script type="text/javascript" src="./factories/LogInFactory.js"></script> -->
    <script type="text/javascript" src="./factories/DashboardFactory.js"></script>
    <script type="text/javascript" src="./factories/UserFactory.js"></script>
    <!-- services -->
    <script type="text/javascript" src="./services/SearchCacheService.js"></script>
    <script type="text/javascript" src="./services/UserService.js"></script>
    <!-- directives -->
    <script type="text/javascript" src="./directives/navbarDirective.js"></script>
    <script type="text/javascript" src="./directives/directives.js"></script>

    <!-- <script type="text/javascript" src="./navbar/navbarCtrl.js"></script> -->

	<!-- login modal -->
<!--	   <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sign up to get to watching</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Username</label>
                                    <input type="name" class="form-control" ng-model="name" placeholder="Enter Name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                        <input type="email" class="form-control" id="email" placeholder="Enter email"  ng-model="email" required="required" /></div>
                                </div>
                                <div class="form-group">
                                    <label for="subject"> Subject</label>
                                    <select id="subject" name="subject" class="form-control" ng-model="subject" required="required">
                                         <option value="na" selected="">Select one:</option>
                                         <option value="service">General Customer Service</option>
                                         <option value="suggestions">Suggestions</option>
                                         <option value="product">Product Support</option>
                                         <option value="product">Other</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Message</label>
                                    <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>
    </div>
    <div footer></div>
</body>
</html>