<nav class="navbar navbar-default square-corners">
	<div class="container">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span> 
       		</button>
				<a class="navbar-brand logo no-padding" href="/"><img class="logo-img" src="./images/logos/filmstack-logo-navbar.svg" height="46"></a>
			</div>
			<!-- <div class="collapse navbar-collapse" id="myNavbar"> -->
			<div class="navbar-collapse collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="nav-item" href="/dashboard">DASHBOARD</a></li>
					<li><a class="nav-item" href="" ng-click='logOut()'>LOGOUT</a></li>
				</ul>
				<div class="search">
					<input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" ng-model="query">
 					<button type="submit" class="btn btn-primary btn-sm" ng-click="search()">Search</button>
				</div>
				<!-- <div class="row">
					<div class="col-md-4 col-md-offset-3">
						<form action="" class="search-form">
							<div class="form-group has-feedback">
								<label for="search" class="sr-only">Search</label>
								<input type="text" class="form-control" name="search" id="search" placeholder="search" ng-model="query">
								<span class="glyphicon glyphicon-search form-control-feedback"></span>
							</div>
						</form>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</nav>