 <div class="detail-page">
	<div class="container full-width square-corners">
		<div class="row movie-banner">
		<div class="row movie-banner-pad"></div>
			<div class="col-md-4 movie-poster" align="center">
				<img ng-src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="" height="450">
			</div>
			<div class="col-md-8">
				<div class="row">
					<div>
						<div class="col-lg-12">
							<h1 class="movie-title">{{ movie.title }}</h1>
							<p class="release-year text-muted">({{ movie.release_date | date : "yyyy" }})</p>
							<h3>Overview</h3>
							<p class="movie-overview">{{ movie.overview }}</p>
							<h3></h3>
						</div>
						<div class="col-lg-12">
							<h3>Featured Credits</h3>
						</div>
						<div class="col-lg-4">
							<h4>Director</h4>
							<!-- <h5 ng-repeat="person in castCrew.crew | filter: { job : 'Director' } : true ">{{ person.name }}</h5> -->
							<h5 ng-repeat="person in castCrew.crew | filter: { job : 'Director' } : true ">{{ person.name }}</h5>
						</div>
						<div class="col-lg-4">
							<h4>Writer</h4>
							<h5 ng-repeat="person in castCrew.crew | filter: {job : 'Screenplay'}">{{ person.name }}</h5>
						</div>
						<div class="col-lg-4">
							<h4>Producers</h4>
							<h5 ng-repeat="person in castCrew.crew | filter: { job : 'Executive Producer' } : true ">{{ person.name }}</h5>
						</div>
					</div>
				</div>
				<div class="row">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-9">
				<h3>Featured Cast</h3>
				<div class="personCard" ng-repeat="person in castCrew.cast | limitTo: 12">
					<img ng-src="https://image.tmdb.org/t/p/w185{{ person.profile_path }}" alt="" height="150">
					<h4>{{ person.name }}</h4>
					<p>{{ person.character }}</p>
				</div>
			</div>
			<div class="info col-lg-3">
				<h3>More Info</h3>
			</div>
		</div>
	</div>
	<fsfooter></fsfooter>
</div>