 <div class="movie-banner">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img ng-src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="" height="400">
			</div>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="movie-title">{{ movie.title }}</h1><br>
						<p class="release-year text-muted">{{ movie.release_date | date : "yyyy" }}</p>
						<h5 class="movie-overview">{{ movie.overview }}</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<h1>Director</h1>
						<p>Lorem ipsum dolor sit amet, ei vis agam recteque eloquentiam. No mei consul euismod. Ubique soluta ei eam, nibh accusam mei ex.</p>
					</div>
					<div class="col-sm-4">
						<h1>Actors</h1>
						<p>Lorem ipsum dolor sit amet, ei vis agam recteque eloquentiam. No mei consul euismod. Ubique soluta ei eam, nibh accusam mei ex.</p>
					</div>
					<div class="col-sm-4">
						<h1>Something</h1>
						<p>Lorem ipsum dolor sit amet, ei vis agam recteque eloquentiam. No mei consul euismod. Ubique soluta ei eam, nibh accusam mei ex.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>